.signup-bg {
  min-height: 100vh;
  padding: 64px;
  background-color: #131313;
  background-size: cover;
  background-image: url('https://i.postimg.cc/NF4Z9vL2/login-page.png');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.signup-form {
  background: rgba(12, 11, 16, 0.8);
  padding: 30px 25px;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.signup-header {
  text-align: center;
  margin-top: 0px;
}

.input-group label {
  color: #e5e5e5;
  font-size: 12px;
  margin-bottom: 6px;
}

.input-group {
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
}

.input-password-group {
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
  color: #e5e5e5;
  font-size: 12px;
}

.input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #181818;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.password-input-container{
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #181818;
  color: #fff;
  outline: none;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.signup-password {
  border: none;
  background-color: #181818;
}

.eye-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #e2dfdf;
  font-size: 20px;
}

.input-group input::placeholder {
  color: #8b8b8b;
}

.info-txt {
  padding-left: 15px;
}

.signup-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

.error-msg {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 8px;
}

@media screen and (max-width: 576px) {
  .signup-bg {
    background-image: none;
    padding: 35px 15px;
    background-color: #000000;
  }

  .signup-form {
    align-items: flex-start;
    border: none;
    width: 100%;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    background-color: black;
  }

  .signup-logo {
    width: 100px;
  }

  .signup-header {
    text-align: center;
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .input-group {
    width: 100%;
  }

  .input-password-group {
    width: 100%;
  }

  .info-txt {
    padding-left: 15px;
    font-size: 14px;
    color: #e5e5e5;
  }

  .signup-btn {
    align-self: center;
  }
}
