.movie-item {
  width: 200px;
  height: 300px;
  padding: 0px;
}

.movie-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.slick-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
  }

  .slick-track {
    width: 90%;
  }

  .movie-img {
    border-radius: 6px;
  }

  .slick-track {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .movie-item {
    width: 185px;
    height: 250px;
  }
}

@media screen and (max-width: 870px) {
  .movie-item {
    width: 150px;
    height: 250px;
  }
}

@media (max-width: 576px) {
  .slick-slide > div {
    padding: 3px;
  }

  .movie-img {
    border-radius: 5px;
  }

  .movie-item {
    width: 100px;
    height: 150px;
  }

  .movies-section {
    margin: 25px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 18px;
  }
}

.slick-slide > div {
  padding: 3px;
}
