.home-bg {
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

.hero-section {
  position: relative;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.hero-content {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3),
    transparent
  );
  padding: 40px 64px 0px 64px;
  width: 100%;
}

.hero-title {
  font-size: 32px;
  margin: 0 0 12px 0;
}

.hero-overview {
  max-width: 500px;
  font-size: 14px;
  color: #e5e5e5;
  margin-bottom: 20px;
}

.hero-play-btn {
  padding: 8px 18px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.movies-section {
  padding: 20px 30px 30px 30px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .hero-section {
    height: 55vh;
  }

  .hero-content {
    padding: 25px 18px;
  }

  .hero-title {
    font-size: 24px;
  }

  .hero-overview {
    font-size: 13px;
  }

  .movies-section {
    padding: 0px 15px 0px 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .movie.img:hover {
    transform: translateY(50px);
  }
}
