.footer {
  padding: 20px 0;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.footer-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 8px;
}

.icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
}

.footer-text {
  color: #e5e5e5;
  font-size: 14px;
  margin-bottom: 14.5px;
}
