.search-bg {
  min-height: 88.5vh;
  background-color: #131313;
  padding: 32px 64px;
  color: #fff;
}

.search-header {
  padding: 32px 64px;
}

.search-input-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 30px auto;
  background-color: #202020;
  border-radius: 8px;
  overflow: hidden;
}

.search-input {
  flex-grow: 1;
  padding: 15px;
  width: 225px;
  height: 40px;
  background-color: #202020;
  border: 1px solid #444;
  border-radius: 6px;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.search-btn {
  background-color: #a62f2f;
  border: none;
  border-radius: 6px;
  padding: 0px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.search-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.search-results-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.search-result-item {
  width: 150px;
}

.search-movie-img {
  width: 100%;
  border-radius: 8px;
}

.search-no-results {
  text-align: center;
  margin-top: 50px;
}

.no-movies-img {
  width: 280px;
  margin-bottom: 15px;
}

.no-results-text {
  color: #fff;
  font-size: 18px;
}

/* Mobile responsiveness */
@media (max-width: 576px) {
  .search-result-item {
    width: 130px;
  }

  .search-input-container {
    max-width: 90%;
  }
}
