.login-bg {
  min-height: 100vh;
  padding: 64px;
  background-color: #131313;
  background-size: cover;
  background-image: url('https://i.postimg.cc/NF4Z9vL2/login-page.png');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.login-form {
  background: rgba(12, 11, 16, 0.8);
  padding: 30px 25px;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.login-header {
  text-align: center;
  margin-top: 0px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group label {
  color: #e5e5e5;
  font-size: 12px;
  margin-bottom: 6px;
}

.input-group input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #181818;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.login-password {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #181818;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.input-group input::placeholder {
  color: #8b8b8b;
}

.login-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

.error-msg {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 8px;
}

@media (max-width: 576px) {
  .login-bg {
    background-color: #131313;
  }

  .login-form {
    padding: 25px 18px;
    align-items: flex-start;
    border: none;
    width: 100%;
  }

  .login-logo {
    width: 100px;
  }

  .login-header {
    text-align: center;
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .input-group {
    width: 100%;
  }

  .login-btn {
    align-self: flex-end;
  }
}
